.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardContainer {
  height: 173px;
  width: 90%;
  margin: 5%;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  
  background-color: #e2edf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer:hover{
  border-color: #007FFF;
  cursor: pointer;
}

.cardContainer > div {
  font-size: 2rem;
  color: rgb(0, 127, 255);
}
